<div id="usercard" class="col-md-3" ng-controller="mainController">
       <div class="panel panel-default">
            <div class="panel-heading">
                Personal Info
            </div>
            <div class="panel-body">
                <ddf-user-card></ddf-user-card>
            </div>
            <div class="panel-footer">
                Panel Footer
            </div>
        </div> 
</div>
<div class="col-md-9" ng-controller="mainController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 id="timeline">Timeline AngularIFIED</h1>
        </div>
        <div class="panel-body">
            <ddf-timeline></ddf-timeline>
        </div>
        <div class="panel-footer">
            Panel Footer
        </div>
    </div>   
</div>