<div class="card hovercard">
   <img src="{{user.profile.headerimg}}" alt=""/>
   <div class="avatar">
      <img src="{{user.profile.personalimg}}" alt="" />
   </div>
   <div class="info">
      <div class="title">
         {{user.info.nome}} {{user.info.cognome}}
      </div>
      <div class="desc">Data di nascita: {{user.info.ddn}}</div>
      <div class="desc">Codice Fiscale: {{user.info.CF}}</div>
   </div>
   <div class="bottom">
      <button class="btn">Add</button>
   </div>
</div>